@model IEnumerable<LainausjarjestelmaMVC.Models.Esineet>
@{
    ViewBag.Title = "Index";
}
<h2>Lainattavat esineet</h2>
<h4>Esineet: @Model.Count() kappaletta</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Esineen ID</th>
            <th>Nimi</th>
            <th>Lainaaja</th>
            <th>Lainaus Päivä</th>
            <th>Palautus Päivä</th>
            <th>Omistaja</th>
            <th>Kuva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LainausjarjestelmaMVC.Models.Esineet prod in Model)
        {
        <tr>
            <td>@prod.EsineID</td>
            <td>@prod.EsineenNimi</td>
            <td>@prod.Lainaaja</td>
            <td>@prod.LainausPaiva</td>
            <td>@prod.PalautusPaiva</td>
            <td>@prod.Omistaja</td>
            <td>@prod.ImageLink</td>
        </tr>
        }

    </tbody>
</table>

